@import url("https://fonts.googleapis.com/css2?family=Alatsi&family=Cinzel+Decorative&family=Playfair+Display&display=swap");

body {
    background-color: black;
}

.header {
    font-weight: bolder;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    z-index: 9999;

    .logo {
        margin-left: 30px;
        font-family: "Cinzel Decorative", cursive;
        font-weight: 800;
    }

    .nav {
        font-family: "Playfair Display", serif;
        margin-left: auto;
        ul {
            display: flex;
            margin: 0;
            padding: 0;
            li {
                padding: 0px 20px;
                font-size: 20px;
                list-style-type: none;
            }
        }
    }
}

section {
    padding-top: 100px;
}

.pre-section {
    background: url(/src/img/pre-section-img.jpeg) 50% 50% / cover no-repeat;
    font-family: "Alatsi", sans-serif;
    .black-bg {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.856);
        .pre-title {
            margin-top: 100px;
            -webkit-animation: slide-rotate-hor-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation: slide-rotate-hor-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }

        h1 {
            color: white;
            font-size: 120px;
        }

        p {
            color: white;
        }
    }
}

.gallery-photo {
    background-color: white;
    padding: 20px;

    .painting {
        width: 500px;
        margin: auto;
        h1 {
            margin: auto;
            color: white;
            padding: 0;
            font-size: 70px;
        }
        p {
            padding: 30px;
            color: white;
            margin-top: auto;
        }
        img {
            max-width: 100%;
        }

        .picture1 {
            height: 600px;
            background: url(/src/img/black-and-white-abstract-painting-julia-fine-art.jpg) 50% 50% / cover no-repeat;
            transition: 0.3s;
            &:hover {
                transition: 0.3s;
                transform: scale(1.1);
            }

            .black-bg {
                background-color: rgba(0, 0, 0, 0.808);
                height: 100%;
                vertical-align: middle;
                text-align: center;
                transition: 0.5s;
                &:hover {
                    background-color: transparent;
                    transition: 0.5s;
                    h1 {
                        color: transparent;
                        transition: 0.3s;
                    }
                    p {
                        color: transparent;
                        transition: 0.3s;
                    }
                }
                
            }
        }
        .picture2 {
            height: 600px;
            background: url(/src/img/ed0a7f0730e1506d6a4592c84f235b05.jpg) 50% 50% / cover no-repeat;
            transition: 0.3s;
            &:hover {
                transition: 0.3s;
                transform: scale(1.1);
            }

            .black-bg {
                background-color: rgba(0, 0, 0, 0.808);
                height: 100%;
                vertical-align: middle;
                text-align: center;
                transition: 0.5s;
                &:hover {
                    background-color: transparent;
                    transition: 0.5s;
                    h1 {
                        color: transparent;
                        transition: 0.3s;
                    }
                    p {
                        color: transparent;
                        transition: 0.3s;
                    }
                }
                h1 {
                    margin: auto;
                    color: white;
                    padding: 0;
                    font-size: 70px;
                }
                p {
                    padding: 30px;
                    color: white;
                    margin-top: auto;
                }
            }
        }

        .picture3 {
            height: 600px;
            background: url(/src/img/evening-in-chicago-black-and-white-paintings-kathleen-patrick.jpg) 50% 50% / cover
                no-repeat;
            transition: 0.3s;
            &:hover {
                transition: 0.3s;
                transform: scale(1.1);
            }

            .black-bg {
                background-color: rgba(0, 0, 0, 0.808);
                height: 100%;
                vertical-align: middle;
                text-align: center;
                transition: 0.5s;
                &:hover {
                    background-color: transparent;
                    transition: 0.5s;
                    h1 {
                        color: transparent;
                        transition: 0.3s;
                    }
                    p {
                        color: transparent;
                        transition: 0.3s;
                    }
                }
                h1 {
                    margin: auto;
                    color: white;
                    padding: 0;
                    font-size: 70px;
                }
                p {
                    padding: 30px;
                    color: white;
                    margin-top: auto;
                }
            }
        }
        .picture4 {
            height: 600px;
            background: url(/src/img/2824966-CJHGLNZH-7.jpg) 50% 50% / cover no-repeat;
            transition: 0.3s;
            &:hover {
                transition: 0.3s;
                transform: scale(1.1);
            }

            .black-bg {
                background-color: rgba(0, 0, 0, 0.808);
                height: 100%;
                vertical-align: middle;
                text-align: center;
                transition: 0.5s;
                &:hover {
                    background-color: transparent;
                    transition: 0.5s;
                    h1 {
                        color: transparent;
                        transition: 0.3s;
                    }
                    p {
                        color: transparent;
                        transition: 0.3s;
                    }
                }
                h1 {
                    margin: auto;
                    color: white;
                    padding: 0;
                    font-size: 70px;
                }
                p {
                    padding: 30px;
                    color: white;
                    margin-top: auto;
                }
            }
        }
    }
}

@-webkit-keyframes slide-rotate-hor-top {
    0% {
        -webkit-transform: translateY(0) rotateX(0deg);
        transform: translateY(0) rotateX(0deg);
    }
    100% {
        -webkit-transform: translateY(-150px) rotateX(-90deg);
        transform: translateY(-150px) rotateX(-90deg);
    }
}

@keyframes slide-rotate-hor-top {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-150px) rotateX(-90deg);
        transform: translateY(-150px) rotateX(-90deg);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0px) rotateX(0deg);
        transform: translateY(0px) rotateX(0deg);
    }
}
